.movies-list {
  padding: 70px 0 10px;
}

.movies-list__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 36px 20px;
  align-content: start;
}

.movies-list__list-item {
  display: inline-block;
}

@media (max-width: 1000px) {
  .movies-list__list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 800px) {
  .movies-list__list {
    gap: 30px 30px;
  }
}

@media (max-width: 750px) {
  .movies-list__list {
    gap: 30px 30px;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 480px) {
  .movies-list {
    padding: 40px 10px 10px;
  }

  .movies-list__list {
    grid-template-columns: 1fr;
    gap: 32px;
  }
}