.movies-card {
  margin: 0;
}

.movies-card__poster {
  width: 100%;
}

.movies-card__name-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  margin-top: 10px;
  padding: 0 0 13px;
  border-bottom: 1px solid #424242;
}

.movies-card__name {
  height: 32px;
  margin: 0;
  margin-top: 4px;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
}

.movies-card__button {
  cursor: pointer;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  background-color: #313131;
  border: none;
  border-radius: 50%;
  background-repeat: no-repeat;
}

.movies-card__button:hover {
  opacity: .8;
}

.movies-card__button_like {
  background-position: 7px 8px;
  background-image: url(../../images/like.png);
}

.movies-card__button_liked {
  background-image: url(../../images/like-color.png);
}

.movies-card__button_delete {
  visibility: hidden;
  background-position: 8px 8px;
  background-image: url(../../images/delete.png);
}

.movies-card:hover .movies-card__button_delete {
  visibility: visible;
}

.movies-card__duration {
  color: #8B8B8B;
  margin: 0;
  margin-top: 6px;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
}

@media (max-width: 320px) {
  .movies-card__name {
    margin: 0;
    margin-top: 5px;
    font-size: 12px;
    line-height: 15px;
  }
}