.profile {
  max-width: 410px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.profile__form {
  min-height: calc(100vh - 74px);
  padding: 75px 30px 70px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.profile__title {
  margin: 0;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
}

.profile__fieldset {
  margin: 0;
  margin-top: 123px;
  padding: 0;
  border: none;
}

.profile__label {
  display: flex;
  align-items: center;
  padding: 16px 0;
  border-bottom: 1px solid #424242;
  font-family: Inter;
  font-size: 11px;
  font-weight: 500;
  line-height: 13px;
}

.profile__label:last-of-type {
  border-bottom: none;
}


.profile__input {
  padding: 0;
  background-color: transparent;
  border: 0;
  outline: none;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  text-align: right;
  color: white;
  width: 80%;
  margin-left: auto;
}

.profile__submit-btn {
  align-self: center;
  margin-top: auto;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.profile__submit-btn_type_exit {
  margin-top: 16px;
  color: #ee3465;
}

.profile__submit-btn:hover {
  opacity: .8;
}

@media (max-width: 768px) {
  .profile__form {
    justify-content: center;
  }

  .profile__fieldset {
    margin-top: 96px;
  }

  .profile__submit-btn {
    margin-top: 210px;
  }

  .profile__submit-btn_type_exit {
    margin-top: 16px;
  }
}

@media (max-width: 320px) {
  .profile__form {
    justify-content: flex-start;
    padding: 70px 30px 40px;
  }

  .profile__fieldset {
    margin-top: 70px;
  }

  .profile__submit-btn {
    margin-top: auto;
  }

  .profile__submit-btn_type_exit {
    margin-top: 16px;
  }
}