.promo {
  background-color: #073042;
  padding: 50px 0 60px;
  box-sizing: border-box;
  overflow: hidden;
}

.promo__content {
  display: flex;
  flex-direction: column;
  gap: 102px
}

.promo__title {
  display: block;
  max-width: 626px;
  margin: 0;
  font-size: 40px;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: -0.04em;
}

.promo__background-img {
  align-self: flex-end;
  background-image: url('../../images/promo__bacground-img.png');
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 722px;
  min-width: 680px;
  width: 100%;
  height: 244px;
}

@media (max-width: 800px) {
  .promo {
    padding: 300px 0 70px;
  }

  .promo__title {
    text-align: center;
    margin: 0 auto;
  }

  .promo__content {
    display: flex;
    gap: 140px
  }

  .promo__background-img {
    align-self: center;
    height: 230px;
  }
}

@media (max-width: 450px) {
  .promo {
    padding: 183px 10px 40px;
  }

  .promo__title {
    display: block;
    font-size: 31px;
    line-height: 39px;
  }

  .promo__content {
    display: flex;
    gap: 60px
  }
}