.page {
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  background-color: #202020;
  min-height: 100vh;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
}