.navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 16px;
}

.navigation_type_burger {
  flex-direction: column;
  align-items: center;
  gap: 28px;
}

.navigation__link {
  text-decoration: none;
  color: inherit;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

.navigation__link_hidden {
  display: none;
}

.navigation__link_type_burger {
  display: block;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

.navigation__link:hover {
  opacity: .7;
}

.navigation__link_active {
  font-weight: 500;
}

@media (max-width: 800px) {
  .navigation {
    display: none;
  }

  .navigation_type_burger {
    display: flex;
  }

  .navigation__link_active {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 8px;
  }
}