.search-form {
  padding-bottom: 10px;
}

.search-form__content {
  width: 100%;
  padding: 70px 0 69px;
  border-bottom: 1px solid #424242;
}

.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-form__bar {
  display: flex;
  height: 72px;
  flex-direction: row;
  align-items: center;
  background-color: #2f2f2f;
  border-radius: 9px;
  padding: 0 30px 0 25px;
}

.search-form__input {
  background-color: #2f2f2f;
  border: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  color: white;
  height: 80%;
  width: 70%;
}

.search-form__input:-webkit-autofill {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 40rem #2f2f2f inset;
}


.search-form__bar::before {
  content: '';
  width: 22px;
  height: 22px;
  margin-right: 15px;
  background-image: url(../../images/search.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.search-form__input::placeholder {
  color: #8b8b8b;
}

.search-form__input:focus {
  outline: none;
}

.search-form__submit-btn {
  margin-left: auto;
  padding: 8px 12px;
  background-color: #4285f4;
  border-radius: 15px;
  border: none;
  font-size: 11px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  color: white;
  cursor: pointer;
}

.search-form__submit-btn:hover {
  opacity: .8;
}

.search-form__checkbox {
  height: 40px;
  margin-left: 30px;
  padding-left: 29px;
  display: flex;
  align-items: center;
  border-left: 1px solid #424242;
}

.search-form__checkbox_type_mobile {
  margin: 0;
  padding: 0;
  border-left: none;
  display: none;
}

.search-form__checkbox-label {
  margin-left: 14px;
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

@media (max-width: 800px) {
  .search-form__content {
    padding: 80px 0 109px;
  }

  .search-form__bar {
    padding: 0 20px 0 20px;
  }

  .search-form__checkbox {
    margin-left: 20px;
    padding-left: 20px;
  }
}

@media (max-width: 480px) {
  .search-form {
    padding: 0 14px 10px;
  }

  .search-form__content {
    padding: 80px 0 45px;
  }

  .search-form__bar {
    margin: 0 -4px;
    padding: 0 20px 0 18px;
  }

  .search-form__input {
    font-size: 14px;
  }

  .search-form__checkbox {
    margin-left: 20px;
    padding-left: 20px;
  }

  .search-form__checkbox-label {
    font-size: 11px;
  }

  .search-form__checkbox_type_desktop {
    display: none;
  }

  .search-form__checkbox_type_mobile {
    height: 20px;
    margin: 45px 0 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }

  .search-form__bar::before {
    display: none;
  }
}