.register {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register__content {
  display: flex;
  flex-direction: column;
  max-width: 396px;
  width: 100%;
  margin: 0 auto;
  padding: 30px;
  gap: 40px;
}

.form__title {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
}

.form__fieldset {
  margin: 0;
  margin-top: 40px;
  padding: 0;
  border: none;
}

.form__input {
  margin-top: 5px;
  padding: 0;
  padding-bottom: 10px;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #424242;
  outline: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: white;
  width: 100%;
}

.form__input:focus {
  border-bottom: 1px solid white;
}

.form__input_error {
  color: #EE3465;
}

.form__label {
  display: block;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  color: #8b8b8b;
}
.form__label:not(:first-of-type) {
  margin-top: 6px;
}

.form__input-error {
  visibility: hidden;
  margin: 0;
  margin-top: 6px;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  color: #EE3465;
}

.form__submit-btn {
  margin-top: 135px;
  width: 100%;
  border: none;
  border-radius: 3px;
  padding: 13px 0 15px;
  font-family: Inter;
  background-color: #4285f4;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  color: white;
  cursor: pointer;
}

.form__submit-btn:hover {
  opacity: .8;
}

.form__signin-text {
  margin: 0;
  margin-top: 16px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #8b8b8b;
}

.form__link {
  color: #4285f4;
  text-decoration: none;
}

.form__link:hover {
  opacity: .7;
}

@media (max-width: 320px) {
  .register__content {
    height: 100vh;
    padding: 56px 30px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    box-sizing: border-box;
  }

  .form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  .form__title {
    text-align: center;
  }

  .form__fieldset {
    margin-top: 80px;
  }

  .form__submit-btn {
    margin-top: auto;
    padding: 15px 0 15px;
    font-size: 12px;
    line-height: 15px;
  }

  .form__signin-text {
    margin: 0;
    margin-top: 14px;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    color: #8b8b8b;
  }
}