.about-me {
  padding: 110px 0 125px;
  background-color: #202020;
}

.about-me__title {
  margin: 0;
  padding-bottom: 23px;
  border-bottom: 1px solid #dadada;
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.04em;
}

.about-me__description {
  list-style: none;
  padding: 0;
  margin: 66px 0 100px;
  display: grid;
  grid-template-columns: 2fr  270px;
  gap: 270px;
}

.about-me__description-block {
  display: flex;
  flex-direction: column;
}

.about-me__name {
  margin: 0;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -0.04em;
}

.about-me__role {
  margin: 0;
  margin-top: 18px;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
}

.about-me__bio {
  margin: 26px 0 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.about-me__github {
  align-self: flex-start;
  margin-top: auto;
  text-decoration: none;
  color: inherit;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}

.about-me__github:hover {
  opacity: .7;
}

.about-me__photo {
  border-radius: 10px;
  width: 100%;
}

@media (max-width: 800px) {
  .about-me {
    padding: 90px 20px;
  }

  .about-me__description {
    grid-template-columns: 3fr 2fr;
    margin-bottom: 90px;
    gap: 50px;
  }

  .about-me__name {
    margin: 0;
    font-size: 40px;
    line-height: 40px;
  }

  .about-me__role {
    margin-top: 16px;
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__bio {
    margin: 20px 0 40px;
    font-size: 12px;
    line-height: 18px;
  }
}

@media (max-width: 480px) {
  .about-me {
    padding: 80px 14px 70px;
  }

  .about-me__title {
    padding-bottom: 28px;
    font-size: 18px;
    line-height: 22px;
  }

  .about-me__description {
    margin: 60px 0 70px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .about-me__description-block:last-of-type {
    order: -1;
  }

  .about-me__name {
    margin: 0;
    font-size: 30px;
    line-height: 36px;
  }

  .about-me__role {
    margin-top: 20px;
    font-size: 11px;
    line-height: 16px;
  }

  .about-me__bio {
    font-size: 11px;
    line-height: 16px;
  }
}